<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>API</title>
  </head>
  <link rel="stylesheet" href="/pub/style.css">
  <body>
    <h1>这是API文档根目录</h1>
    <a href="/api-docs">api-docs</a>
    <div>
          <span>{{ message }}</span>
          <span>{{ data }}</span>
    </div>
  </body>
</html>
